:root {
  --arrow-sizing: 20px;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-slider {
  width: 500px;
  height: 500px;

  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  height: var(--arrow-sizing);
  width: var(--arrow-sizing);
  opacity: 30%;
  cursor: pointer;
}

.arrow:hover {
  opacity: 70%;
}

.arrow-left {
}

.arrow-right {
  top: 50%;
  right: 0%;
  transform: rotate(180deg);
}

.bubble-wrapper {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bubble {
  height: var(--arrow-sizing);
  width: var(--arrow-sizing);
  opacity: 30%;
}

.bubble:hover {
  opacity: 70%;
}

.square {
  width: 500px;
  height: 500px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
