:root {
  --arrow-sizing: 20px;
  --slide-container-width: 0px;
  --slide-container-height: 0px;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#image-slider {
  width: 50vh;
  height: 50vh;

  position: relative;
  overflow: hidden;
}

.image-container {
  height: 100%;
  display: flex;
  z-index: -1;
  position: relative;
  transition: transform 600ms ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  height: var(--arrow-sizing);
  width: var(--arrow-sizing);
  opacity: 30%;
  cursor: pointer;
  transition: transform 200ms linear;
}

.arrow:hover {
  opacity: 70%;
}

.arrow-left:hover {
  transform: scale(1.2);
}

.arrow-right {
  top: 50%;
  right: 0%;
  transform: rotate(180deg);
}

.arrow-right:hover {
  transform: rotate(180deg) scale(1.2);
}

.bubble-wrapper {
  max-width: 500px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bubble {
  height: var(--arrow-sizing);
  width: var(--arrow-sizing);
  opacity: 30%;
  cursor: pointer;
}

.bubble-active {
  opacity: 70%;
}

.bubble:hover {
  opacity: 70%;
}

.image-wrapper {
  width: var(--slide-container-width);
  height: var(--slide-container-height);
  display: flex;
}

.slider-image {
  max-width: var(--slide-container-width);
  max-height: var(--slide-container-height);
  object-fit: scale-down;
}
